.ytpmd-logo {
  width: 400px;
  max-width: 100%;
  margin: 0 auto 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ytpmd-svg {
  display: block;
  width: 100%;
  height: auto;
}